@font-face {
	font-family: 'verona_serial-regular';
	src: url('../public/fonts/verona_serial-regular-webfont.woff2') format('woff2'),
		  url('../public//fonts//verona_serial-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.App {
  text-align: center;
  background-color: rgb(240, 230,179);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: 'verona_serial-regular';
}


.main {
	flex: 1 1 auto;
	margin-top: 10vmin;
}
.App-logo {
 
  pointer-events: none;
} 

.complet{
	height: 30vmin;
	pointer-events: none;
}

.description-open-bar{
	font-size: 24px;
}

.description-open-bar-seeyou{
	font-size: 18px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer-content{
	margin: 10px auto;
	display: flex;
}


.footer-logo{
	border: 1px solid #000;
	border-radius: 50%;
	width: 80px;
   height: 80px;
   display: flex;
}

.footer-content-logo-description{
	font-size: 22px;
	margin-left: 20px;
}

.description-open-bar{
	font-size: 18px;
	
}

.description-open-hours{
	display: flex;
}
.description-block{
	display: flex;
	

}
.description-location-icon{
	height: 40px;
	width: 40px;

}

.description-adress{
	font-size: 18px;
	margin-left: 10px;
}

.description-adress-link {
	text-decoration: none;
	color: inherit;

}

.description-hour{
	margin-left: 10px;
}
.location-icon{
	height: 100%;
	width: 100%;
}